/* DARI W3SCHOOL NIH BOSQU */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 30px;
    border: none;
    outline: none;
    background-color: rgba(6, 75, 6, 0.726);
    color: white;
    cursor: pointer;
    padding-bottom: 8px;
    border-radius: 5px;
  }
  
  #myBtn:hover {
    background-color: rgba(6, 75, 6);
  }